{% extends 'base.html' %}
{% load data4u_filter %}
{% block content %}
<!-- message 표시 -->
{% if messages %}
<div class="alert alert-danger my-3" role="alert">
{% for message in messages %}
    <strong>{{ message.tags }}</strong>
    <ul><li>{{ message.message }}</li></ul>
{% endfor %}
</div>
{% endif %}
<div class="card justify-content-center py-5">
  <h2 class="text-center my-5 col-12">결제를 성공했습니다!</h2>
  <div class="card-body">
    <h3 class="text-center my-5">주문자 정보</h3>
    <div>
      <div class="my-3 row"><div class="h5 col-6">주문번호</div><div class="h6 col-6 text-right">{{ res.partner_order_id }}</div></div>
      <div class="my-3 row"><div class="h5 col-6">상품명</div><div class="h6 col-6 text-right">{{ res.item_name }}</div></div>
      <div class="my-3 row"><div class="h5 col-6">결제금액</div><div class="h6 col-6 text-right">{{ res.amount.total }}원</div></div>
      <div class="my-3 row"><div class="h5 col-6">결제승인시각</div><div class="h6 col-6 text-right">{{ res.approved_at }}</div></div>
    </div>
    <div class="mt-5 pt-3 text-center">
      <a href="{% url 'accounts:profile' user.id %}" class="btn" style="font-weight:bold; background-color: #FFD200;">메인으로 돌아가기</a>
    </div>
  </div>
</div>
{% endblock %}